# django collectstatic files
radioco/media/_versions/
static/

# bower / js libs
node_modules/

# Byte-compiled / optimized / DLL files
__pycache__/
.DS_Store
*.py[cod]
*.swp
.idea
db.*

/.*
!/.gitignore
!/.gitmodules
local_settings.py

# Unit test / coverage reports
htmlcov/
nosetests.xml
coverage.xml

# Django stuff:
*.log
sitestatic/

# Sphinx documentation
docs/_build/

# Files ending in ~
*~
