asgiref==3.12.1
Django==5.2.17
django-ckeditor==6.7.3
django-disqus==0.5
django-filebrowser==5.0.0
django-filter==26.1
django-grappelli==4.0.4
django-js-asset==4.1.0
django-npm==1.0.1
django-recurrence==1.14
djangorestframework==3.18.1
mock==5.2.0
pillow==12.3.0
python-dateutil==2.9.0.post0
pytz==2026.3.post1
six==1.17.0
sqlparse==0.6.0
whitenoise==6.12.0
